.form{
    width: 500px;
    height: 500px;
}
h1{
    align-items: center;
}
fieldset{
    background-color: aliceblue;
}
#fr{
    background-color: rgb(249, 194, 212);
    display:flex;
    align-items: center;
    justify-content: center;
    margin:15%;
    padding:10px;
}
div.identitas{
    color: black;
    background-color: lightyellow;
    text-align: center;
    justify-content: center;
    float: center;
}

div.action1{
    background-color: lemonchiffon;
    justify-content: center;
    float: center;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    
    text-align: center;
}
